<app-borrows-toggle-button selectedPage="page3"></app-borrows-toggle-button>
<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">Emprunts en cours</mat-card-title>
  </mat-card-header>

  <ng-container *ngIf="dataSource.data.length === 0">
    <mat-card-content class="b-t-1">
      <p class="text-center">Aucun emprunt en cours trouvé.</p>
    </mat-card-content>
  </ng-container>

  <ng-container *ngIf="dataSource.data.length > 0">
    <mat-card-content class="b-t-1">
      <div class="table-responsive m-t-16">
        <table mat-table [dataSource]="dataSource" class="w-100">
          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="f-w-600 mat-subtitle-1 f-s-14"
            >
              #
            </th>
            <td
              mat-cell
              *matCellDef="let element; let i = index"
              class="mat-body-1"
            >
              {{ i + 1 }}
            </td>
          </ng-container>

          <!-- Document Column -->
          <ng-container matColumnDef="document">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="f-w-600 mat-subtitle-1 f-s-14"
            >
              Document
            </th>
            <td mat-cell *matCellDef="let element">
              <a
                class="mat-body-1"
                [routerLink]="[
                  '/management/documents',
                  element.document.documentId
                ]"
                >{{ element.document.title }} - {{ element.document.author }} (
                {{ element.document.releaseDate }})</a
              >
            </td>
          </ng-container>

          <!-- Member Column -->
          <ng-container matColumnDef="member">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="f-w-600 mat-subtitle-1 f-s-14"
            >
              Membre
            </th>
            <td mat-cell *matCellDef="let element">
              <a
                class="mat-body-1"
                [routerLink]="['/management/members', element.member.memberId]"
                >{{ element.member.firstName }} {{ element.member.lastName }}</a
              >
            </td>
          </ng-container>

          <!-- Loan date Column -->
          <ng-container matColumnDef="loanDate">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="f-w-600 mat-subtitle-1 f-s-14"
            >
              Date d'emprunt
            </th>
            <td mat-cell *matCellDef="let element" class="mat-body-1">
              {{ element.loanDate | date : "dd/MM/yyyy" }}
            </td>
          </ng-container>

          <!-- Action Column -->
          <ng-container matColumnDef="action">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="f-w-600 mat-subtitle-1 f-s-14"
            >
              Action
            </th>
            <td mat-cell *matCellDef="let element" class="mat-body-1">
              <div>
                <ng-template [ngIf]="element.returnDate === null">
                  <app-return-document-button
                    [documentId]="element.document.documentId"
                    (returnedDocument)="loadBorrowedList()"
                  ></app-return-document-button>
                </ng-template>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <mat-paginator
          [pageSizeOptions]="[20, 50, 100]"
          showFirstLastButtons
          aria-label="Sélectionner la page des emprunts"
        >
        </mat-paginator>
      </div>
    </mat-card-content>
  </ng-container>
</mat-card>
